body {
  background-color: rgba(242, 242, 242, 0.5);
}

img {
  height: 50px;
  border-radius: 25px;
  float: right;
}

.divHolder {
  height: 54px;
  border: 2px solid black;
  margin: 5px;
  background: linear-gradient(to right, red , yellow);
}

.links {
  color: black;
  font-size: 20px;
}

span {
  float: left;
}

.jumbotron {
  border: 2px solid black
}
